*.ppt[[:space:]]*.zip filter=lfs diff=lfs merge=lfs -text
*.pptx[[:space:]]*.zip filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
